{% extends 'base.html' %}
{% block title %}
    {% if post.title %}
        {{ post.title }}
    {% endif %}
{% endblock title %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-12">
                <!-- Title -->
                <h1 class="mt-4">{{ post.title }}</h1>
                <!-- Author -->
                <p class="lead">
                    by
                    <a href="#">{{ post.author }}</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p>Опубликовано {{ post.created }}</p>
                <hr>
                <!-- Preview Image -->
                {% if post.thumbnail %}
                    <div class="text-center">
                        <img class="img-fluid rounded" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                    </div>
                {% endif %}
                <hr>
                <!-- Post Content -->
                {{ post.content|safe }}
                <hr>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock content %}