{% extends 'base.html' %}
{% block title %}Новости{% endblock title %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-auto">Новости</h1>
                {% if object_list.exists %}
                    {% for post in post_list %}
                        <!-- Post -->
                        {% if post.thumbnail %}
                        <div class="img-thumbnail rounded mb-4">
                            <img class="img-thumbnail" src="{{ post.thumbnail.url }}"
                            alt="{{ post.title }}">
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            {% if post.content %}
                                <p class="card-text">{{ post.content | truncatewords:50 | safe }}</p>
                            {% endif %}
                            <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-primary">
                                Read More <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                        <div class="card-footer text-muted">
                            {{ post.created }}
                            <a href="#">{{ post.author }}</a>
                        </div>
                    {% endfor %}
                    <!-- Pagination -->
                    {% if is_paginated %}
                        {% include 'includes/pagination.html' %}
                    {% endif %}
                {% else %}
                    <h2>Еще новостей нет!</h2>
                {% endif %}
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
{% endblock content %}