{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Новости{% endblock title %}

{% block side_bar %}
  <div class="col-3 my-md-3">
    -- КОТЕХОРИЙИ --
    {% if user.is_authenticated %}<br>ЮЗЕР ->>> {{ user }}
    {% else %}
      <img src="https://image.flaticon.com/icons/png/128/843/843280.png" alt="anonymous" title="anonymous"
           class="rounded-circle img-thumbnail" width="50px">
    {% endif %}
    {#        <div class="container">#}
    <div id="navigation-block">
      <ul id="sliding-navigation">
        <img src="{% static '/img/sidebar/background.jpg' %}" id="hide" alt="">
        <li class="sliding-element"><h3 class="h5">Котехорийы</h3></li>
        {% for item in category %}
          <li class="sliding-element">
            <a href="{{ item.get_absolute_url }}" title="{{ item.name }}">
              {{ item.name|truncatechars_html:20 }}
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
    {#        </div>#}
  </div>
{% endblock side_bar %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="container-fluid">
        <h1 class="bg-secondary card-header my-auto text-light text-uppercase">
          <span class="glyphicon glyphicon-bullhorn pr-2" style="font-size: 0.7em;"></span>
          Новости
        </h1>
        {% if object_list.exists %}
          {% for post in post_list %}
            <!-- Post -->
            <div class="card my-3" style="box-shadow: 0 3px 20px -4px #999;">
              <div class="card-body">
                {% if post.thumbnail %}
                  <img class="img-thumbnail float-left mr-3 d-block" src="{{ post.thumbnail.url }}"
                       alt="{{ post.title }}">
                {% endif %}
                <h1 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title|upper }}</a>
                </h1>
                {% if post.content %}
                  <p class="card-text">{{ post.content | truncatewords:50 | safe }}</p>
                {% endif %}
                <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-primary btn-gradient">
                  Read More <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
              <div class="card-footer text-muted" style="font-size: smaller">
                <span class="glyph-offset glyphicon glyphicon-calendar text-muted"></span>
                {{ post.created|date:"d E Y г." }}
                <span class="glyph-offset glyphicon glyphicon-user ml-2 text-muted"></span>
                <a href="{% url 'profiles:show' post.author.profile.slug %}">{{ post.author }} </a>&#8227;
                {{ post.category.first }}
                <span class="glyph-offset glyphicon glyphicon-eye-open ml-2 text-muted"></span>
                {{ post.id }} URL: {{ post.get_absolute_url }}
              </div>
            </div>
          {% endfor %}
          <!-- Pagination -->
          {% if is_paginated %}
            {% include 'includes/pagination.html' %}
          {% endif %}
        {% else %}
          <h2>Еще новостей нет!</h2>
        {% endif %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    CONTEXT ->> {{ object_list }}
  </div>
{% endblock content %}