{% load staticfiles %}
{% load  menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        {% include 'base/menu.html' %}
    </div>
    <div class="row">

        {% block side_bar %}
            <div class="col-md-3 my-md-3">
                <strong>Котехорийы</strong>
            </div>
        {% endblock %}

        <div class="col-md-9 my-md-3">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{#<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>#}
</body>
</html>