{% load staticfiles %}
{% load  menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    <link rel="shortcut icon" href="{% static '/img/favicon-32x32.png' %}" type="image/png"/>
</head>
<body>
<!-- top navbar -->
<div class="container-fluid">
    <div class="row">
        {% include 'base/menu.html' %}
    </div>
</div>
<!-- main content -->
<div class="container-fluid">
    <div class="row">

        {% block side_bar %}
            <div class="col-3 my-md-3">
                <strong>Котехорийы</strong>
            </div>
        {% endblock %}
        <div class="col-8 my-md-3">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sliding_effect.js' %}"></script>
</body>
</html>