{% load mptt_tags %}
<ul class="nav">
    {% recursetree items %}
            <li class="nav-item" {% block active %}{% endblock %}>
                {% if node.url %}
                    <a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
                {% else %}
                    <a class="nav-link" href="{{ node.content_object.get_absolute_url }}">{{ node.title }}</a>
                {% endif %}
                {% if not node.is_leaf_node %}
                    <ul class="nav-item children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
    {% endrecursetree %}
</ul>